/dir2/
/dir/
/resources/
#/pre_processing/video/landmark_detectors/shape_predictors/
/results/
/dataset_exmpls/
/landmarks/
/mfccs/
/old/gan_minst/photos/
/tmp/
/GRID_sample/
*.DS_Store
*/.DS_Store
.DS_Store
*/__pycache__/
*.pyc
/old/landmarks/
/old/mfccs/
/old/tmp/
/old/dir/
/dataset_s1/
/s1/
/old/
